{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<header class="bg-lilac">
  {% image settings.site_settings.WebsiteBannerImage.website_banner original as img  %}
  <div style="background-image: url({{img.url}})" class="bg-cover">
    <div class="mw9 pv4 ph6-l ph4 white cover-text">
      <h3 class="f2 f1-m f-headline-l  lh-copy white">{{page.title}}</h3>
      <nav class="f6 fw6 ttu tracked b">
        <a href="{{ page.get_parent.url }}" title="Home">Home</a> -
        <span class="">{{page.title}}</span>
      </nav>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 heading-section text-center">
        <h3>{{page.header}}</h3>
        <p>{{page.body}}</p>
      </div>
    </div>
    <div class="row">
      {% for block in page.donation_link %}
      {% if block.block_type == 'paypal' %}
      {% include_block block %}
      {% else %}
      {% include_block block %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="smile-amazon py-5">
  <div class="container">
    <p class="f3-m f3-l">Support the <b class="f3-m f3-l">Vivian Osunkoya Shodipo (VOS) Foundation</b> when you shop at
      <b class="f3-m f3-l">smile.amazon.co.uk</b>.</p>
    <p class="f3-m f3-l">For each purchase you make, Amazon donate to our charity.</p>
    <a href="#" target="_blank">
      <img src="{% static 'images/amazon-btn.png' %}" width="250" alt="">
    </a>
  </div>
</section>
{% endblock %}