{% extends "base.html" %}
{% load static wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}

<div class="owl-carousel owl-theme">
  {% for loop_cycle in page.get_carousel_images %}
  <div class="item {% if forloop.counter == 1 %} relative{% endif %}">
    {% image loop_cycle.carousel_image fill-950x400 as carousel_img %}
    {% if loop_cycle.carousel_header or loop_cycle.carousel_text %}
      <div class="carousel-caption d-none d-md-block">
        <h1 class="f1">{{loop_cycle.carousel_header}}</h1>
        <p class="f4">{{loop_cycle.carousel_text}}</p>
      </div>
    {% endif %}
    <img src="{{carousel_img.url}}" alt="{{ carousel_img.alt }}">
  </div>
  {% endfor %}
</div>
{% for block in page.content %}
{% include_block block %}
{% endfor %}

{% if page.video_url or page.header_1 or page.header_2 %}
  <section class="make-donation py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pr-5">
        <a class='video' href="{{page.video_url}}" data-lity>
          {% image page.video_image fill-600x400 class='img-fluid mb-5'%}
        </a>
      </div>
      <div class="col-lg-6 mb-5">
        <h2 class="grey fw7">{{page.header_1}}</h2>
        <p class="f5-l">{{page.text_1|richtext}}</p>
        {% if page.button_link_1.url  %}  
         <a class="btn theme-btn2 mb-4" href="{{page.button_link_1.url}}">{{page.button_text_1}}</a>
        {% endif %}
 
        <h2 class="grey fw7">{{page.header_2}}</h2>
        <p class="f5-l">{{page.text_2|richtext}}</p>
        {% if page.button_link_2.url  %}
        <a class="btn theme-btn2 mb-4" href="{{page.button_link_2.url}}">{{page.button_text_2}}</a>  
        {% endif %}
       
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}