{% load static wagtailcore_tags wagtailuserbar wagtailfontawesome wagtailimages_tags menu_tags %}
{% fontawesome_css %}


<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'wagtailfontawesome/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
  <link rel="stylesheet" href="{% static 'css/lity.min.css' %}" >
</head>

<body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-skyblue">
    <div class="container-fluid">
      <div class="site-logo mr-5">
        <a class="navbar-brand" href="{% slugurl 'home' %}">
          {% if settings.site_settings.WebsiteLogo.website_logo %}
          {% image settings.site_settings.WebsiteLogo.website_logo width-150  %}   
          {% else %}
          <img src="{% static 'images/logo-placeholder.png' %}" width="100" alt="">
          {% endif %}
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% main_menu template="menu.html" apply_active_classes=True add_sub_menus_inline=True %}
        </ul>
        
        <ul class="navbar-nav ml-5">
          <a class="btn my-2 theme-btn" href="{% slugurl 'donate' %}">Donate</a>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="bg-dgrey">
    <div class="contain">
      <div class="row pt-5 px-5">
        <div class="col-md-3 mb-3">
          <h3 class="white mb-3">Quick Links</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">News and Events</a></li>
            <li><a href="#">Become a Supporter</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
        <div class="col-md-5 mb-3">
          <h3 class="white mb-3">Charity Information</h3>
          <ul>
            <li>
              <span class="b t-lilac">Phone:</span>
              <br>
              +44 (0)7534 368 386
            </li>
            <li>
              <span class="b t-lilac">Email:</span> 
              <br>
              vosfoundation2017@gmail.com
            </li>
            <li>
             <span class="b t-lilac">Address:</span>  
             <br>
              87 Pembroke Avenue, Luton, Bedfordshire, United Kingdom, LU4 9BJ
            </li>
        </div>
        <div class="col-md-4 mb-3">
          <ul>
            <li>Registered Charity Number: 1179368</li>
            <li>Privacy and Cookies Policy</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row py-3 px-5">
        <div class="col-md-5 mb-4">
          <h3 class="white f4">Follow Us: </h3>
          <div class="trustee-social my-1">
            {% if settings.site_settings.SocialMediaSettings.email %}
            <a href="mailto:{{settings.site_settings.SocialMediaSettings.email}}">
              <i class="fa fa-envelope round-icon"></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.facebook %}
            <a href="{{settings.site_settings.SocialMediaSettings.facebook}}" target="_blank">
              <i class="fa fa-facebook round-icon"></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.twitter %}
            <a href="{{settings.site_settings.SocialMediaSettings.twitter}}" target="_blank">
              <i class="fa fa-twitter round-icon"></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.instagram %}
            <a href="{{settings.site_settings.SocialMediaSettings.instagram}}" target="_blank">
              <i class="fa fa-instagram round-icon "></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.linkedin %}
            <a href="{{settings.site_settings.SocialMediaSettings.linkedin}" target="_blank">
              <i class="fa fa-linkedin round-icon "></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.youtube %}
            <a href="{{settings.site_settings.SocialMediaSettings.youtube}}" target="_blank">
              <i class="fa fa-youtube round-icon "></i>
            </a>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.pinterest %}
            <a href="{{settings.site_settings.SocialMediaSettings.pinterest}}" target="_blank">
              <i class="fa fa-pinterest round-icon "></i>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-md-7 d-flex align-items-center">
          <h6 class="white">&#169; VOS, inc. <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>, All rights reserved | Made with <i class="fa fa-heart-o"></i> by
            <a href="https://github.com/amajai"> amajai</a>
          </h6>
        </div>
      </div>
    </div>
  </footer>
  {# Global javascript #}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lity.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

</body>

</html>