{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
<header class="bg-lilac">
    {% image settings.site_settings.WebsiteBannerImage.website_banner original as img  %}   
    <div style="background-image: url({{img.url}})" class="bg-cover">
        <div class="mw9 pv4 ph6-l ph4 white cover-text">
            <h3 class="f2 f1-m f-headline-l  lh-copy white">Trustees</h3>
            <nav class="f6 fw6 ttu tracked b">
                <a href="{{ page.get_parent.url }}" title="Home">Home</a> -
                <span class="">Trustees</span>
            </nav>
        </div>
    </div>
</header>
<section class="make-difference py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-2 white tj">
                <p class="f5-l">Volunteering with us can be incredibly rewarding because you will be contributing to
                    making a difference to the lives of the young people we serve.</p>

                <p class="f5-l">Click the button to become a volunteer with us today.</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <button class="btn f4 theme-btn btn px-5">Become a Volnteer</button>
            </div>
        </div>
    </div>
</section>
<section class="meet-trustees py-5">
    <div class="container">
        <h1 class="tc mb-5 f1">Meet the Trustees</h1>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2">
            {% for trustee in trustees.specific %}
                <div class="col mb-4">
                    <div class="card h-100">
                        {% image trustee.trustee_image fill-300x300 as img%}
                        <img class="card-img-top" src="{{img.url}}" alt="{{img.alt}}">
                        <div class="card-body white">
                            <h5 class="card-title f3">{{trustee.title}}</h5>
                            <p class="card-text">{{trustee.trustee_info|richtext|striptags|truncatechars:150}}</p>
                            <a href="{% pageurl trustee %}" class="link">
                                <p class="card-text f4">Learn more...</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}