:root {
  --lilac: #CBC7FF;
  --yellow: #ffe473;
  --blue: #29384e;
  --dgrey: #363C44;
  --lgrey: #E5E5E5;
}
*{
  font-size: 1rem;
}
hr{
  background-color: var(--lgrey);
}

.bg-skyblue{
  background-color: var(--blue);
}

.bg-dgrey{
  background-color: var(--dgrey);
}

.btn {
  color: var(--dgrey);
  font-weight: 600;
  padding: 0.75rem 2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  border: 1px solid var(--lilac);
  background-color: var(--lilac);
}
.btn:hover{
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--dgrey);
}

.nav-link{
  font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
  color: #CBC7FF;
}
.nav-link:hover {
  color: var(--yellow) !important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: var(--yellow);
}