:root {
  --lilac: #CBC7FF;
  --yellow: #ffe473;
  --blue: #29384e;
  --dgrey: #363C44;
  --lgrey: #E5E5E5;
}

hr {
  background-color: var(--lgrey);
}
.rich-text p{
  font-size: 1.1rem;
  text-align: justify;
}
.bg-lilac {
  background-color: var(--lilac);
}

.t-lilac {
  color: var(--lilac);
}

.bg-skyblue {
  background-color: var(--blue);
}
.t-blue {
  color: var(--blue);
}
.t-yellow {
  color: var(--yellow);
}
.bg-yellow2 {
  background-color: var(--yellow);
}

.bg-dgrey {
  background-color: var(--dgrey);
}

.theme-btn {
  color: var(--dgrey);
  font-weight: 600;
  padding: 0.75rem 2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  border: 1px solid var(--lilac);
  background-color: var(--lilac);
}

.theme-btn:hover {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--dgrey);
}

.theme-btn2 {
  color: var(--dgrey);
  font-weight: 600;
  padding: 0.75rem 2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  background-color: var(--lilac);
}

.theme-btn2:hover {
  background-color: var(--lgrey);
  color: var(--dgrey);
}

.theme-btn3 {
  color: var(--dgrey);
  font-weight: 600;
  padding: 0.75rem 2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  background-color: var(--yellow);
}

.theme-btn3:hover {
  background-color: var(--dgrey);
  color: var(--lilac);
}

.theme-btn4 {
  color: var(--dgrey) !important;
  font-weight: 600;
  padding: 0.75rem 2rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  background-color: var(--lilac);
}

.theme-btn4:hover {
  background-color: var(--yellow);
}
.nav-link {
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
  color: #CBC7FF;
}

a {
  color: #CBC7FF;
}

a:hover {
  color: var(--yellow);
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: var(--yellow);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--yellow);
}

.contain {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contain ul {
  color: #fff;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
}

.contain ul li {
  margin-bottom: 6px;
}

.contain ul li a {
  color: #CBC7FF;
  text-decoration: none;
}

.contain ul li a:hover {
  color: var(--yellow);
}

.social {
  height: 45px;
  width: 45px;
  margin-left: 15px;
}

a .social {
  color: var(--dgrey);
  transition: all 0.4s ease-in-out;
}

a .social:hover {
  background-color: var(--yellow);
  transition: all 0.4s ease-in-out;
}

a .newlink {
  color: var(--dgrey);
  transition: all 0.4s ease-in-out;
  border-bottom: 3px dotted none;
}

a .newlink:hover {
  color: var(--yellow);
  transition: all 0.4s ease-in-out;
}

.owl-carousel {
  position: relative;
}
.owl-next, .owl-prev {
  position: absolute;
  font-size: 200px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.owl-next {
  right: 0;
  display: flex;
}
.owl-prev{
  left: 0;
  display: flex;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.owl-carousel .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: var(--yellow);
}

.owl-theme .owl-dots .owl-dot span{
  visibility: hidden;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: var(--lilac);
  width: 100px;
  height: 100px;
  font-size: 50px;
  
}

.owl-carousel button:focus {
  outline: none;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: 0 0;
  color: var(--yellow);
  text-decoration: none;
}

.owl-carousel .item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.slider-info{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 40px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: left;
}

.smile-amazon{
  background-color: var(--yellow);
}

.our-mission{
  background-color: var(--lilac);
}

.what-we-do{
  background-color: var(--dgrey);
}


.video::after{
  content: '';
  position: absolute;
  display: block;
  background: url(owl.video.play.png);
  height: 50%;
  width: 50%;
  top: 27%;
  left: 35%;
  background-size: 120px 120px;
  background-repeat: no-repeat;
}
.edu-value{
  background-color: var(--lilac);
}

.make-donation{
  background-color: var(--yellow);
}

.bg-cover{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.blog-cover{
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px !important;
  z-index: 0;
}

.top-img-view{
  background-position: top;
}

.center-img-view{
  background-position: center;
}

.bottom-img-view{
  background-position: bottom;
}
.bg-h{
  min-height: 500px;
}
header{
  position: relative;
}


.cover-text{
  background-color: rgba(0, 0, 0, 0.4);
}

.make-difference{
  background-color: var(--dgrey);
}

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card{
  border-radius: 0;
  border: 0;
}

.info-card{
  border: 0;
}
.info-card-body{
  padding: 0;
  padding: 5px;
}
.meet-trustees{
  background-color: var(--lilac);
}

.sq-icon {
  width:50px;
  height:50px;
  box-sizing:border-box;
  text-align:center;
  display:inline-block;
  line-height:50px;
  background-color:var(--dgrey);
}

.round-icon {
  color: var(--dgrey);
  width:30px;
  height:30px;
  box-sizing:border-box;
  border-radius: 50%;
  text-align:center;
  display:inline-block;
  line-height:30px;
  background-color:var(--lilac);
}

.round-icon:hover {
  transition: all 0.4s ease-in-out;
  background-color:var(--yellow);
}

.dropdown-menu {
  color: #212529;
  background-color: #cbc7ff;
  border: 1px solid rgba(0,0,0,.15);
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #fdf4cf;
}

.dropdown-item.active, .dropdown-item:active {
  color: #29384e;
  text-decoration: none;
  background-color: #ffe473;
}

.fit-img{
  width: 100%;
  height: auto;
}

.gallery{
  box-shadow: 0 0 4px -1px #000;
}

.tag{
  background-color: var(--lilac);
  padding: 5px 7px;
  color: black;
  border-radius: 5px;
  margin-right: 6px;
}

.tag2{
  background-color: var(--dgrey);
  padding: 3px 5px;
  color: white;
  border-radius: 5px;
  margin-right: 6px;
}


.page-item.active .page-link {
  background-color: #5d51fb;
  border-color: #5d51fb;
}

.page-link {
  color: #5d51fb;
}