{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<header class="bg-lilac">
    {% image settings.site_settings.WebsiteBannerImage.website_banner original as img  %}
    <div style="background-image: url({{img.url}})" class="bg-cover">
        <div class="mw9 pv4 ph6-l ph4 white cover-text">
            <h3 class="f2 f1-m f-headline-l  lh-copy white">{{page.title}}</h3>
            <nav class="f6 fw6 ttu tracked b">
                <a href="{{ page.get_parent.url }}" title="Home">Home</a> -
                <span class="">{{page.title}}</span>
            </nav>
        </div>
    </div>
</header>

<section class="bg-lilac py-5">
    <div class="container tj">
        {% with blocks=self.supporter_content %}
        {% for block in blocks %}
        {% if block.block_type == 'paragraph' %}
        <div class="f3-l f4-m f2-ns">
            {{ block.value }}
        </div>
        {% else %}
        <section class="block-{{ block.block_type }}">
            {{ block }}
        </section>
        {% endif %}
        {% endfor %}
        {% endwith %} 
        {% if page.button_link.url  %}  
        <a class="btn theme-btn3 mb-4 f4" href="{{page.button_link.url}}">{{page.button_text}}</a>
       {% endif %}
    </div>
</section>
{% endblock %}